<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
    </ul>
  </div>

  <div class="card-body">
  <!-- <button (click)="unSubscribe()" class="btn-primary"> UnSubscribe the Observable </button> -->

    <input type="text" [(ngModel)]='newMessage'><button (click)="submitMsg()">Submit</button>

    <div class="row">
      <div class="col-sm">
        <app-blog></app-blog>
      </div>

      <div class="col-sm">
        <app-hello></app-hello>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <app-list></app-list>
      </div>

      <div class="col-sm">
        <app-users></app-users>
      </div>
    </div>
  </div>
</div>
