<h2 *ngIf="listData && listData.length" [@customFade]="customStateVar" > {{dataInfo}} </h2>
<button *ngIf="listData && listData.length" type="button" class="btn btn-danger" (click)="updateState()">Alert all items</button>

<ul class="list-group">
    <li [@customFade]="customStateVar" *ngFor="let item of listData; let i=index" class="list-group-item">
        {{item}} 
        <button type="button" class="btn btn-danger" (click)="removeElement(i)">Delete</button>
    </li>
</ul>

<!-- <app-list></app-list> -->