<form #demoForm="ngForm" (ngSubmit)="onFormSubmit(demoForm)">
    <div class="form-group"> 
      <label for="name">Name*</label>
      <input type="text" name="firstName" class="form-control" id="name" ngModel required>
      <span
      *ngIf="demoForm.controls.firstName && (demoForm.controls.firstName.touched && demoForm.controls.firstName.invalid)"
      class="text-danger">This is required field</span>
    </div>

    <div class="form-group">
      <label for="myemail">Email id</label>
      <input type="text" name="myEmail" class="form-control" id="myemail" ngModel>
    </div>

    <div class="form-group">
      <label for="mypincode">Pin code</label>
      <input type="text" appPincodeValidator name="mypincode" class="form-control" id="mypincode" ngModel>
      <span
        *ngIf="demoForm.controls.mypincode && 
                demoForm.controls.mypincode.touched 
                && demoForm.controls.mypincode.invalid"
        class="text-danger">
        Pin code is invalide
      </span>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>